build/
bin/
obj/
out/
vcpkg_installed/

.vs/
*.user
*.sln
*.vcxproj
*.filters
*.proto.res
*.sublime-project
*.sublime-workspace

vcpkg/
!vcpkg.json

CMakeUserPresets.json
CMakeFiles/
CMakeCache.txt

.DS_Store
Thumbs.db
desktop.ini

*.dndcamp
*.dndchar

imgui.ini